/* Define Font Families and Names */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap');
@font-face {
   font-family: hMedium;
   src: url(fonts/JosefinSans-Medium.ttf);
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: hSemi;
   src: url(fonts/JosefinSans-SemiBold.ttf);
   font-weight: 600;
   font-style: normal;
}
@font-face {
   font-family: hBold;
   src: url(fonts/JosefinSans-Bold.ttf);
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: tRegular;
   src: url(fonts/Nunito-Regular.ttf);
   font-size: 400;
   font-style: normal;
}
@font-face {
   font-family: tMedium;
   src: url(fonts/Nunito-Medium.ttf);
   font-size: 500;
   font-style: normal;
}
@font-face {
   font-family: tBold;
   src: url(fonts/Nunito-ExtraBold.ttf);
   font-size: 900;
   font-style: normal;
}





*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   background-color: #202122;
}

p{
   font-family: tRegular;
}

input{
   border: 0;
   background-color: #2d2e2fcc;
   height: 40px;
   padding: 20px;
}
input:focus{
   border: 0;
   outline: transparent;
}


#log-out{
   position: absolute;
   top: 5%;
   right: 5%;
}





.card{
   background-color: #aef7ff17;
   /* height: 100%; */
}
.special{
   color: #00d7ffed;
   font-weight: bold;
   font-family: tBold;
}
.buttons button{
   background-color: #aef7ff17;
   border: 2px solid #303136;
}
.buttons button:hover{
   background-color: #aef7ff38;
   border: 2px solid transparent;
   
}
.post-text{
   color: #b3b3b3;
   font-family: tRegular;
   height: 120px;
}





header{
   width: 100%;
   height: 200px;
   background-color: #18181b;
   border-bottom: 2px solid #2e2f33;
   display: flex;
   justify-content: center;
   align-items: center;
}
header span{
   color: white;
   display: inline-block;
   margin-right: 20px;
   font-size: 30px;
}
header h1{
   color: white;
   font-family: hBold;
   font-size: 80px;
}



section{
   margin: 4% 0 6% 0;
}



#newpost-content, #comment-content{
   outline: 0;
   border: 2px solid #393a3bcc !important;
   padding: 20px;
   font-size: 18px;
   background-color: #2d2e2fcc;
   border-radius: 5px;
   color: rgb(216, 216, 216);
   resize: none;
   overflow: hidden;
}
#post-confirmation{
   height: 0;
   transition: height 300ms ease;
   overflow: hidden;
}
#new-post{
   /* height: 0; */
}
.add-post{
   padding: 0 0 5% 0;
   margin: 0 0 5% 0;
   border-bottom: 2px solid #3c3e44;
}

.add-post h3{
   color: #fafafac4;
   font-size: 22px;
}

.all-posts{
   padding: 0 0 5% 0;
   margin: 0 0 5% 0;
}
#newsfeed-title{
   color: #fafafac4;
   font-size: 22px;
}






.post{
   color: white;
   background-color: #2d2e2fcc;
   border-radius: 5px;
   padding: 6%;
   animation-duration: 1s;
   animation-iteration-count: 1;
   animation-direction: normal;
   animation-timing-function: ease;
   animation-fill-mode: forwards;
}


@keyframes anm {
   0%{
      background-color: #2d2e2fcc;
   }
   1%{
      background-color: #44484e;
   }
   100%{
      background-color: #2d2e2fcc;
   }
}


.post + .post{
   margin: 3% 0;
}
.post .user-name{
   font-size: 16px;
   font-weight: 600;
   font-family: 'Fira Sans', sans-serif;
}
.post .post-details{
   font-size: 12px;
   font-weight: 300;
}
.post .content{
   margin-top: 5%;
   font-size: 16px;
   font-weight: 500;
   color: rgb(202, 202, 202);
}
.post .extras{
   margin-top: 6%;
   padding: 1% 0 0 0;
   border-top: 1px solid #46484e;
}
.post .total-likes{
   display: flex;
   align-items: center;
   font-size: 15px;
}

.post .total-likes .like{
   font-size: 18px;
   display: inline-block;
   margin-right: 10px;
   color: rgb(0, 255, 149);
}
.post .extras .feedback *{
   background-color: #414244cc;
   padding: 7px 0;
   width: 32%;
   outline: 0;
   border: 0;
   text-align: center;
   color: white;
}



#comment-content{
   font-size: 16px;
   padding: 5px 20px;
   border-radius: 100px;
}
.my-comment {
   padding: 15px 0;
}
.my-comment button{
   width: 60px;
   height: 38px;
   display: flex;
   border-radius: 1000px;
   justify-content: center;
   align-items: center;
   border: 0;
   margin-left: 15px;
   background-color: rgba(0, 225, 255, 0.293);
}
i{
   color: white;
}











.modal-container{
   /* display: none !important; */
   width: 100vw;
   position: fixed;
   height: 100vh;
   top: 0;
   left: 0;
   background-color: #0000003c;
   display: flex;
   justify-content: center;
   align-items: center;
   user-select: none;
}
.modal-container .mModal{
   width: 40%;
   /* height: 50%; */
   background-color: white;
   position: relative;
   z-index: 100000 !important;
}
.wait{
   display: none;
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: #ffffff9c;
   left: 0;
   top: 0;
}

.post-modal-trigger{
   outline: 0;
   border: 0;
   height: 45px;
   padding: 0 25px;
   background-color: #2b2d31;
   color: white;   
}
.post-modal-trigger::placeholder{
   color: rgba(255, 0, 0, 0.214)(186, 186, 186);
}


button[data-liked="like"]{
   background-color: #374562 !important;
}
button[data-liked="dislike"]{
   background-color: #414244cc !important;
}